{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trip edit</h1>

    <form class="form-horizontal" method="post" action="{{ path('trip_update', { 'id': trip.id }) }}">
        <input type="hidden" name="id" value="{{ trip.id}}" />
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">NOMBRE</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" id="title" placeholder="Titulo" value="{{trip.name }}">
        </div>
    </div>
    <div class="form-group">
        <label for="cover" class="col-sm-2 control-label">DESCRIPCION</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cover" name="description" placeholder="URL de la portada" value="{{trip.description }}">
        </div>
    </div>
    <div class="form-group">
        <label for="author" class="col-sm-2 control-label">URL IMAGEN</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="author" name="url" placeholder="Autor" value="{{trip.urlPicture }}">
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">PRECIO</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="price" name="price" placeholder="Precio" value="{{trip.price }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success pull-right">UPDATE</button>
        </div>
    </div>
</form>
    
{% endblock %}
