{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Trip list</h1>
        {% for trip in trips %}
        
            <div class="col-md-4">
                <table class="table-responsive">
                    <tr> <td>      ID:    <a href="{{ path('trip_show', { 'id': trip.id }) }}">{{ trip.id }}</a>   </td> </tr>
                         <tr> <td>   NAME: <h2>{{ trip.name }}</h2>    </td> </tr>
                              <tr> <td>   DSCRIPTION:   <p>{{ trip.description }}</p>   </td> </tr>
                                   <tr> <td>    PRICE:       <h4>{{ trip.price }}</h4>   </td> </tr>
                         
                </table>
     
             
                <image class="img-circle"  width="304" height="236"  src="{{ trip.urlPicture }}" />
        
          
                   <div class="btn-group-justified">
                            <a class="btn btn-default"  href="{{ path('trip_show', { 'id': trip.id }) }}">show</a>
                            <a class="btn btn-info"  href="{{ path('trip_edit', { 'id': trip.id }) }}">edit</a>
                          
                            <a class="btn btn-danger"  href="{{ path('trip_delete', { 'id': trip.id }) }}">delete</a>
                            </div>
                </div>
                           
        {% endfor %}

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('create_action') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
