<!DOCTYPE html>
<html>
 <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Desarrollo web PHP</title>
        <!-- Bootstrap Core CSS -->
         <link href="{{  asset('bundles/framework/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom CSS -->
         <link href="{{ asset('bundles/framework/css/shop-homepage.css') }}" rel="stylesheet" type="text/css"> 
        <!-- Superheroe CSS -->
           <link href="{{ asset('bundles/framework/css/cerulean.min.css') }}" rel="stylesheet" type="text/css"> 
        
        {% block stylesheets %}
       
          {% endblock %}
    </head>
    
     
        <body>
 
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('trip_index')}}">Viajes 4v al mejor precio</a>
                </div>
                <!-- FORMULARIO DE BÚSQUEDA -->
                <form class="navbar-form navbar-right" role="search" method="get"  action="{{ path('trip_search', { 'busqueda':'HOLA ' })}}">
                    <div class="form-group">
                        <input type="text" name="trip" class="form-control" placeholder="Buscar..." value="">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                <!-- FIN FORMULARIO DE BÚSQUEDA -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Content -->
        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <p class="lead">Tu agencia de viajes</p>
                    <div class="list-group">
                       
                        <a href="{{ path('create_action') }}" class="list-group-item">Sugiérenos un viaje</a>
                    </div>
                </div>

                <div class="col-md-9">

                    <div class="row carousel-holder">

                        <div class="col-md-12">
                            <img class="slide-image img-rounded" src="{{ asset('bundles/framework/img/logo.PNG') }}" alt="">
                        </div>
                    </div>
                </div>
                     {% block body %}
      {% endblock %}

        </div>

    </div>
    <!-- /.container -->

    <div class="container">
  
        {% block javascripts %}
       
        {% endblock %}
          <!-- jQuery -->
          <script src="{{ asset('bundles/framework/js/jquery.js') }}"> </script>
    <!-- Bootstrap Core JavaScript -->
              <script src="{{ asset('bundles/framework/js/bootstrap.min.js') }}"> </script>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; Eugenia Pérez - 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

 
        
        
        
    </body>
    
    
</html>
